body
  padding-top: 60px
a
  color: #00B7FF

.logo
  color: #434343;
  font-style: italic;
  font-size: 12px;
  float: right;
  position: relative;
  background-image: url('/images/peacock-logo.png');
  background-repeat: no-repeat;
  padding-top: 7px;
  padding-left: 35px;
  height: 23px;

#graph
  height: 600px;
  min-width: 500px;

#selected-list
  overflow: auto;
  height: 300px;
