!!!
html
  head
    title= title

    link(rel="stylesheet", href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")

    script(src="http://code.jquery.com/jquery-1.7.1.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js")
    link(rel="stylesheet", href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css")
    script(src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js")

    link(rel="stylesheet", href="http://www.highcharts.com/highslide/highslide.css")
    script(src="http://www.highcharts.com/highslide/highslide-full.min.js")
    script(src="http://www.highcharts.com/js/testing-stock-exporting.js")
    script(src="http://www.highcharts.com/highslide/highslide.config.js")
    script(src="http://www.highcharts.com/js/modules/exporting.js")

    script(src="http://documentcloud.github.com/underscore/underscore.js")
    script(src="http://documentcloud.github.com/backbone/backbone.js")

    script(src="javascripts/app.js")
    script(src="javascripts/plot.js")
  body!= body
